* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(313deg, #0079ff4d 34%, #fff);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 367px;
    padding: 20px;
    margin: auto 20px;
    border-radius: 10px;
    background: linear-gradient(313deg, #fff, #007eff);
    box-shadow: 15px 12px 23px 0px rgb(112 112 112 / 11%);
}

.container .search-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.container .search-box .search-input {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    width: 266px;
    margin-right: 10px;
    font-size: 18px;
}

.container .search-box .search-input:focus {
    outline: none;
}

.container .search-box .search-btn {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.container .weather-temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.container .weather-temp .city-name {
    font-size: 30px;
    margin-bottom: 15px;
}

.container .weather-temp p:first-of-type {
    font-size: 50px;
}

.container .weather-temp p:last-of-type {
    color: #606060;
}

.container .weather-info {
    display: flex;
    justify-content: space-between;
}

.container .weather-info .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .weather-info .weather-icon {
    display: flex;
    align-items: center;
}

